body {
    width: 99%;
    border: 1px dotted #D1E8E2;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #D9E7F0;
    font-family: 'Single Day', cursive;
    font-size: 15px;
}

p {
    color: #6C7B8D;
    padding-left:25px;
    padding-right:25px;
}

h3 {
    color: #54677e;
    padding-left:25px;
    padding-right:25px;
}

header {
    width: 1220px;
    border: 1px dotted #D1E8E2;
    margin: 10px auto;
    vertical-align: middle;
}

#logo {
    width: 100px;
    height: 100px;
    border: 1px dotted #D1E8E2;
    margin: 10px 50px;
    float: left;
    border-color: #D1B8D9;
}

#navbar {
    height: 50px;
    border: 1px dotted #D1E8E2;
    background-color: #71a08f;
}

.nav-link {
    height: 30px;
    width: 200px;
    display: inline-block;
    border: 1px dotted #D1E8E2;
    margin: 10px;
}

#banner {
    float: left;
    height: 120px;
    display: flex;
    align-items: center;
}

#main-content-area {
    width: 1220px;
    height: auto;
    border: 1px dotted #D1E8E2;
    margin: 10px auto;
    background-color: #E6F1F0;
}

#main-image {
    display: block;
    margin: 20px auto;
    width: 350px;
    height: auto;
}

#header-border {
    height: 122px;
    background-color: #E6F1F0;
}

#footer {
    width: 1220px;
    height: auto;
    border: 1px dotted #D1E8E2;
    margin: 10px auto;
    background-color: #E6F1F0;
}

a {
    color: #B6A9D5;
}

h1 {
    color: #71a08f;
}

a:hover {
    color: #A1D1E7;
}

.nav-link:hover {
    background-color: #A1D1E7;
    color: #6C7B8D;
}


/*#banner {
    background-color: #F9E3B8;
}*/
